
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${alue.otsikko}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <div>Tämä on tietyn alueen keskusteluikkuna, <b>ilman sisäänkirjautumista</b></div>
        <a href="/kirjautuminen">Kirjaudu sisään</a> tai luo itsellesi käyttäjätunnus <a href="/rekisteroidy">tästä</a>
        <p>Alue: <span th:text="${alue.otsikko}">alueen nimi</span></p>
        <ul>
            <li th:each="keskustelu : ${alueenKeskustelut}">
                <a th:href="@{~/alueet/{alueid}/keskustelut/{keskusteluid}/(alueid=${alue.id}, keskusteluid=${keskustelu.id})}"><span th:text="${keskustelu.otsikko}">Alueet</span></a>
            </li>
        </ul>
        <p>Tänne ei keskustelun lisäys mahdollisuutta, koska ei sisäänkirjautunut</p>
        
        <a href="/">Takaisin aluelistaukseen</a>
    </body>
</html>
